---
title: Archives
layout: base.njk
permalink: /archives/
---

<div class="content-left">
  <h1 style="margin-bottom: 24px">Archives</h1>

  <ul>
    {% for year in collections.postYears %}
      <li style="margin-bottom: 12px">
        <a class="post-title" href="/archives/{{ year }}/">{{ year }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
