---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/</link>
    <description>{{ site.description }}</description>
    <language>en</language>

    {% for post in collections.posts | reverse %}
    <item>
      <title>{{ post.data.title | escape }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid>{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.page.date.toUTCString() }}</pubDate>
      <description><![CDATA[{% if post.data.excerpt %}{{ post.data.excerpt }}{% endif %}]]></description>
    </item>
    {% endfor %}
  </channel>
</rss>
