---
title: Blog
layout: base.njk
permalink: /
---


<div class="blog-list content-left">
  <ul>
    {% for post in collections.posts | reverse %}
    <li style="margin-bottom: 32px">
      <div>
        <a class="post-title" href="{{ post.url | url }}">{{ post.data.title }}</a>
      </div>
      <div>
        <small>
            {% set d = post.date %}
             {{ d.toLocaleDateString("en-US", { year: "numeric", month: "short", day: "numeric" }) }}
        </small>
      </div>

      {% if post.data.tags %}
      <div class="tag-row">
        {% for t in post.data.tags %}
          {% if t != "posts" %}
          <a class="tag" href="{{ ('/tags/' ~ t ~ '/') | url }}">{{ t }}</a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}

      {% if post.data.excerpt %}
      <p class="post-excerpt">{{ post.data.excerpt }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
